* {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    padding: 8px;
    display: flex;
    float: right;
    color: black;
}
.asd01 {
    margin: 3rem 1rem; 
    float: left;
}
.asd02 { 
    margin: 3rem 0;
    float: right;
}


.sec01{
    margin: 2rem 1rem;
}
.asd01 a{
    color: violet;
} 

button {
    background-color: violet;
    border: none;
    padding: 10px 20px;
    color: azure;
}
img { 
    border-radius: 150px; 
}
footer {
    float: left;
    size: 60px;
}

