body{
    background-color: beige;
    columns: blue;
    font-family: 'Courier New', Courier, monospace;
    color : brown;
}
h1{
    color: tomato;
}
h3 { 
    color : brown;
}
img {
    width: 400px;
    height: 300px;
}